<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Three.js</title>
    <meta name="description" content="Three.js on Gomix">
    <script src="/three.min.js"></script>
		<script src="/SVGRenderer.js"></script>
		<script src="/Projector.js"></script>   
  </head>
  <body>
    <header>
      <h1>
        Three.js Demo
      </h1>
    </header>
    
    <a id="convert" href="#">Save as SVG</a>
		<div id="svg" style="display:none"></div>
		<a id="downloadFile"></a>
		
		<br />

    <script src="/demo.js"></script>

    <br /><br />
    <hr />
    <br />

    <footer>
      <p>
        <a href="https://gomix.com/#!/remix/three-js/b0a368de-1e93-4f40-a19c-954fc1743a98">
          <img src="https://gomix.com/images/background-light/remix-on-gomix.svg">
        </a>
      </p>
      <p>
        <a href="https://gomix.com/#!/project/three-js">
          View Code
        </a>
      </p>
    </footer>
  </body>
</html>
